<div class="card-section">

    <div>
        <h1 class="card-title">Welcome to the Organisation Portal</h1>
        <p class="card-subtitle" style="padding-left: 2rem;padding-right: 2rem;">Remember, as a theme park employee, you are an ambassador of fun and excitement. Your dedication and commitment to excellence will play a crucial role in creating lasting memories for guests and ensuring the park's continued success.  </p>
     </div>

    <div class="flipping-cards">
        <div class="profile-card first-profile-card" routerLink="/admin-portal">

            <div class="profile-card-front profile-card-face">      
                <img src="https://img.freepik.com/premium-vector/customer-care-illustration-concept_42694-27.jpg?size=338&ext=jpg&ga=GA1.1.1880011253.1699660800&semt=ais" alt="profile-picture" class="profile-picture"/>

                <h3 class="name">Admin Dashboard<br><br></h3>

            </div>

            <div class="profile-card-back profile-card-face">
                <div class="about-section">
                    <h2 class="about-title">About</h2>
                    <p class="about-text">
                        Welcome to Admin Dashboard. CheckOut what's new, and regular status about the activies happening around you <br><br><br>
                    </p>
                </div>
            </div>

        </div>
<div class="profile-card first-profile-card" routerLink="/subordinate-portal">

            <div class="profile-card-front profile-card-face">      
                <img src="https://img.freepik.com/free-vector/organic-flat-feedback-concept_23-2148960874.jpg" alt="profile-picture" class="profile-picture"/>

                <h3 class="name">Sub-ordinate Dashboard</h3>
               
            </div>

            <div class="profile-card-back profile-card-face">
                <div class="about-section">
                    <h2 class="about-title">About</h2>
                    <p class="about-text">
                        Welcome to Sub-ordinate Dashboard. CheckOut what's new, and regular status about the activies happening around you <br><br><br>
                    </p>
                </div>
            </div>

        </div>
        <div class="profile-card first-profile-card">

            <div class="profile-card-front profile-card-face">      
                <img src="https://img.freepik.com/free-vector/employees-cv-candidates-resume-corporate-workers-students-id-isolate-flat-design-element-job-applications-avatars-personal-information_335657-145.jpg?size=338&ext=jpg&ga=GA1.1.1880011253.1699747200&semt=ais" alt="profile-picture" class="profile-picture"/>

                <h3 class="name">Customer Detail <br><br></h3>
         
            </div>

            <div class="profile-card-back profile-card-face">
                <div class="about-section">
                    <h2 class="about-title">About</h2>
                    <p class="about-text">
                        Welcome to Admin Dashboard. CheckOut what's new, and regular status about the activies happening around you <br><br><br>
                    </p>
                </div>
            </div>

        </div>
        <div class="profile-card first-profile-card">

            <div class="profile-card-front profile-card-face">      
                <img src="https://img.freepik.com/free-vector/group-young-people-posing-photo_52683-18823.jpg?size=338&ext=jpg&ga=GA1.1.1826414947.1699833600&semt=ais" alt="profile-picture" class="profile-picture"/>

                <h3 class="name">About Us</h3>
      
            </div>

            <div class="profile-card-back profile-card-face">
                <div class="about-section">
                    <h2 class="about-title">About</h2>
                    <p class="about-text">
                        Welcome to Admin Dashboard. CheckOut what's new, and regular status about the activies happening around you <br><br><br>
                    </p>
                </div>
            </div>

        </div>
        <div class="profile-card first-profile-card">

            <div class="profile-card-front profile-card-face">      
                <img src="https://img.freepik.com/free-vector/people-traveling-collection_23-2148059358.jpg?size=338&ext=jpg&ga=GA1.1.1826414947.1698883200&semt=ais" alt="profile-picture" class="profile-picture"/>

                <h3 class="name">Facilities</h3>

            </div>

            <div class="profile-card-back profile-card-face">
                <div class="about-section">
                    <h2 class="about-title">About</h2>
                    <p class="about-text">
                        Welcome to Admin Dashboard. CheckOut what's new, and regular status about the activies happening around you <br><br><br>
                    </p>
                </div>
            </div>

        </div>
        <div class="profile-card first-profile-card">

            <div class="profile-card-front profile-card-face">      
                <img src="https://img.freepik.com/premium-vector/set-characters-different-professions_107173-1126.jpg?w=2000" alt="profile-picture" class="profile-picture"/>

                <h3 class="name">Emergency</h3>
               
            </div>

            <div class="profile-card-back profile-card-face">
                <div class="about-section">
                    <h2 class="about-title">About</h2>
                    <p class="about-text">
                        Welcome to Admin Dashboard. CheckOut what's new, and regular status about the activies happening around you <br><br><br>
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>