@mixin middle{
    margin-left: 1.2rem;
    font-style: normal;
}
.add-stud{
    background-color: cadetblue !important;
    border: 2px black;
    box-shadow: 10px 10px 10px rgb(78, 66, 66);
    margin-right: 15rem;
    padding: 5rem;
    margin-left: 15rem;
}

.title{  
    font-weight: 600;
  font-family: math;
   @include middle
}

.button1{
    @include middle;
    padding-left: 3.6rem;
    padding-right: 3.6rem;
}

@media screen and (max-width:600px) {

    .add-stud {
        margin-left: 5rem;
        margin-top: 5rem;
      
    }



}