<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand"  routerLink="/subordinate-portal/dashboard-admin">
            <i class="icon_top align-middle fa-solid fa-circle-user"></i>
        <span class="attendence align-middle">Admin Portal</span>
</a>

        <ul class="sidebar-nav">
            
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin-portal/dashboard-admin" >
      <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Customer Detail</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin-portal/dashboard-admin/admin-inj-status"> 
      <i class="align-middle" data-feather="user"></i> <span class="align-middle">Injury status</span>
           
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin-portal/dashboard-admin" >
      <i class="align-middle" data-feather="book"></i> <span class="align-middle">Onboarding policies</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/admin-portal/dashboard-admin">
      <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Help</span>
    </a>
            </li>
        </ul>

    </div>
</nav>
